@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Waterfall&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    background-color: #FAF9F7;
}
body {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 300;
    color: #463f3a;
    /*background-color: rgba(242, 241, 237, .5);*/
}
/* Underlines the page its on. */
.active {
    border-bottom: 1px solid #463f3a;
}
/* Header, logo and menu */
h1 {
    font-family: Waterfall, sans-serif;
    letter-spacing: 2px;}


