@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Waterfall&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}
body {
    font-family: 'Playfair Display', sans-serif;
    color: #463f3a;
    /*background-color: rgba(242, 241, 237, .5);*/
}
/* Underlines the page its on. */
.active {
    border-bottom: 1px solid #463f3a;
}
/* Header, logo and menu */
h1 {
    font-family: Waterfall, sans-serif;
    letter-spacing: 2px;
    color: #e0afa0;
}
    

header {
    text-align: center;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.logo {
    width: 100%;
    text-decoration: none;
    font-size: 230%;
    margin: 0 auto;
}
.nav {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    transform: scale(1,0);
}
.nav-list {
    list-style: none;
}
.nav-list-link {
    color: #463f3a;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.3rem;
}
.nav-list-link:hover {
    border-bottom: 1px solid #463f3a;
}
.nav-toggle {
    display:none;
}
.nav-toggle:checked ~ nav {
    display: block;
    transform: scale(1.1);
}
 .span-menu-bar{
    font-size: 200%;
}
/* Main content grid setup */
.main-section {
    align-items: center;
    display: grid;
    gap: 1rem;
    grid-template-areas:
    'one'
    'two'
    'three'
    'four'
    'five';
}
.grid-main-1 {grid-area: one;}
.grid-main-2 {grid-area: two;}
.grid-main-3 {grid-area: three;}
.grid-main-4 {grid-area: four;}
.grid-main-5 {grid-area: five;}

.grid-main-1, 
.grid-main-2,
.grid-main-3,
.grid-main-4,
.grid-main-5 {
    height: auto;
    max-width: auto;
    margin-left: 1rem;
    margin-right: 1rem;
    box-sizing: border-box;
    text-align: center;
}
/* End of main content grid setup*/

/* Content of main */
.grid-main-1{
    background-image: url(../images/matildapaintscolor.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    min-height: 40rem;
}
/*     .grid-main-5 {
        background-image: url(../images/linjekvinna.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        min-width: 20rem;
        min-height: 20rem;
    }*/

/* Images section */
.images-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.images-containers {
    width: 100%;
    height: 100%;
}
.images-containers > img {
    max-width: 30rem;
    max-height: 30rem;
}

/* Footer styles*/
footer {
    background-color: #e0afa0;
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 1rem;
    padding: 0.5rem 0;
    z-index: 999;
}
footer > a {
    color: #463f3a;
    text-decoration: none;
    margin: 0 10%;
    font-size: 200%;
}
.copyright {
padding: 1rem 0 0.5rem 0;
}
/* Media for medium to large size screens */
@media screen and (min-width: 750px){
    h1 {
        font-size: 280%;
    }
    header {
        margin-bottom: 1.5rem;
    }
    .logo{
        font-size: 280%;
    }
 
    .nav {
        all: revert;
        padding: 1rem 0 2rem 0;
    }
    .nav-list {
        justify-content: space-evenly;
        display: flex;
    }
    .span-menu-bar {
        display: none;
    }
    .main-section {
        grid-template-areas: 
            'one three'
            'one four'
            'one two';
    }
    .grid-main-1 {
        width: 25rem;
        height: 25rem;
        border-radius: 50%;
    }
    .images-main {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .images-containers > img {
        max-width: 20rem;
        max-height: 20rem;
    }
}
@media screen and (min-width: 1250px){
    header {
        margin-bottom: 1.5rem;
    }
    .grid-main-1 {
        width: 30rem;
        height: 30rem;
        border-radius: 50%;
    }
    .main-section {
    grid-template-areas:
    ' two one four'
    'three three three';
    justify-items: center;
    }
}