@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Waterfall&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 300;
    color: #463f3a;
    /*background-color: rgba(242, 241, 237, .5);*/
}
/* Underlines the page its on. */
.active {
    border-bottom: 1px solid #463f3a;
}
/* Header, logo and menu */
h1 {
    font-family: Waterfall, sans-serif;
    letter-spacing: 2px;
}
#logo {
    font-size: 430%;
    float: left;
    padding-left: 2rem;
    color: #E0AFA0;
}
#menu {
    float: right;
    margin-right: 1rem;
    font-size: 120%;
    clear: right;
}
#menu li {
    list-style: none;
    float: right;
    margin-right: 2.5rem;
    text-transform: uppercase;
    font-weight: bold;
}
#logo, #menu {
    line-height: 6rem;
}
#menu a {
    text-decoration: none;
    color: inherit;
}
#menu a:hover {
    color: #E0AFA0;
    border-bottom: 1px solid;
}
/* First section, hero image */

#hero-image {
    background: url(../images/IMG_2270.jpg) no-repeat center center;
    width: 100%;
    height: 600px;
    overflow: hidden;
}




/* For small devices */
@media screen and (max-width: 320px) {
    #menu {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }
    #logo {
        clear: both;
        width: 100%;
        float: left;
        text-align: center;
        padding: 0;
    }

}