@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Waterfall&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 300;
    color: #7C5869;
}

/* Header, logo and menu */
h1 {
    font-family: Waterfall, sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
}

#logo {
    font-size: 400%;
    float: left;
    padding-left: 2rem;
    color: #9A7197;
}
#menu {
    float: right;
    margin-right: 2rem;
    list-style: none;
}