@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Waterfall&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Header, logo and menu */
h1 {
    font-family: Waterfall, sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
}

#logo {
    font-size: 400%;
    float: left;
    padding-left: 2rem;
    color: #9A7197;
}